*{margin:0;padding:0;box-sizing:border-box}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e1b1b1;
    color:#fff;
    font-family:system-ui;
}
.box{text-align:center}
h1{margin-bottom:30px;font-size:28px}
.time{font-size:40px;letter-spacing:2px;color:#00d4ff}
